body{
    padding: 2rem;
    background-color: #f7f7f7;
}

.search{
    width: fit-content;
}

input[type="text"]{
    outline: none!important;
}

button{
    width: 48px;
    aspect-ratio: 1/1;
    color: #fff;
}